MYSQL_USER=yigithankarabulut
MYSQL_HOSTNAME=mariadb
MYSQL_ROOT_PASSWORD=ykarabul42
MYSQL_DB_NAME=wordpress
MYSQL_PASSWORD=ykarabul42

CRT_KEYOUT=/etc/ssl/mbrettsc.42.fr.key
CRT_OUT=/etc/ssl/mbrettsc.42.fr.crt
WP_DATABASE_NAME=wordpress
WP_DATABASE_USR=yigithankarabulut
WP_DATABASE_PWD=ykarabul42

DOMAIN_NAME=localhost

WP_TITLE=Inception
WP_ADMIN_USR=ykarabul
WP_ADMIN_PWD=ykarabul42
WP_ADMIN_EMAIL=ykarabul@student.42kocaeli.com
WP_USR=yigithankarabulut
WP_PWD=ykarabul42
WP_EMAIL=yigithannkarabulutt@gmail.com

