MYSQL_HOST=mariadb
MYSQL_ROOT_PWD=ykarabul42
MYSQL_USER=yigithankarabulut
MYSQL_PASSWORD=ykarabul42

WP_DATABASE_NAME=wordpress
WP_DATABASE_USR=yigithankarabulut
WP_DATABASE_PWD=ykarabul42

REDIS_HOST=redis
REDIS_PWD=ykarabul42

FTP_USR=ykarabul
FTP_PWD=ykarabul42

DOMAIN_NAME=localhost

WP_TITLE=Inception
WP_ADMIN_USR=ykarabul
WP_ADMIN_PWD=ykarabul42
WP_ADMIN_EMAIL=ykarabul@student.42kocaeli.com
WP_USR=yigithankarabulut
WP_PWD=ykarabul42
WP_EMAIL=yigithannkarabulutt@gmail.com

